/* RESET  */

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* FONT  */

*
{
    font-family:Arial, Helvetica, sans-serif;
}

/* GENERAL */


.container{
    background-image: url(https://img.freepik.com/free-vector/classic-vintage-rays-sunburst-retro-background_1017-33769.jpg?w=2000);
    background-size: cover;
    min-height: 100vh;
}
.grid-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#click-me{
    border:none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    background-color: #57665C;
    padding: 15px 32px;
    color: white;

}

.grid-container > .cell {
    width: 10%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 5px solid #B8503C;
    background-color: #E8DEA5;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.grid-container > .cell.active {
    background-color: #57665C;
   
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}